@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Sen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.hero-section {
    background-image: url(/header.png);
    position: relative;
}

.hero-section::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.382);
    z-index: 1;
}